<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="questioningService" class="org.maslov.service.QuestioningService">
        <constructor-arg name="questionRepository" ref="questionRepository" />
    </bean>

    <bean id="questionRepository" class="org.maslov.repository.QuestionRepository" />
</beans>